.sidebar {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    float: left;
    background-color: #C8B2A3;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    border-left-style: solid;
    border-width: 10px;
    border-color: #7E6E63;
}

.sidebar h1 {
    color: #F2F2F2;
    font-size: 25px;
    padding-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
}

.sidebar a {
    color: #6A5649;
}

.sidebar p {
    color: #FFFFFF;
    padding-left: 15px;
    padding-bottom: 15px;
}

body {
    margin: 80px auto;
    width: 60%;
    font-family: Verdana, Geneva, sans-serif;
}

.container {
    background-color: #FBF2EC;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(231, 195, 171, 0.726);
    margin-left: 100px;
    padding: 40px;
}

.container p {
    font-size: 16px;
    line-height: 1.4em;
    color: #585858;
}

nav {
    overflow: hidden;
    margin-left: 80px auto;
    margin-right: 80px auto;
    background-color: #333333;
}

nav ul {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 25px;
    border-right: 1px solid white;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 10px 15px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    opacity: 0.6;
}
