body {
    font-family: 'Roboto', sans-serif;
    background-color: #fdfdfd;
}

/* container */
div#main {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10%;
    padding-bottom: 5%;
}

div img#icon {
    width: 220px;
    justify-self: center;
    border-radius: 50%;
}

div #name {
    font-family: "Montserrat", sans-serif;
    font-size: 37px;
    color: #654e66;
    font-weight: 500;
    padding-bottom: 15px;
}

div div#content-box {
    padding-left: 50px;
    font-size: 1.3em;
    line-height: 1.6em;
    color: #696969;
}

div div#content-box a {
    color:#6e3a70;
    font-weight: 500;
    text-decoration: none;
}

div div#content-box a:hover {
    font-weight: 700;
    color: #814985;
}

/* navigation bar */
nav {
    background-color: #6d5467;
    padding-left: 30px;
}

nav ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* footer */
div#footer {
    margin: auto;
    width: 100%;
}

div#footer footer {
    /* position: absolute; */
    bottom: 0;
    text-align: center;
    padding-bottom: 1%;
}

footer small {
    color: #9a869b;
}