.sidebar {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    float: left;
    background-color: #C8B2A3;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
}

.sidebar h1 {
    color: #F2F2F2;
    font-size: 25px;
    padding-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
}

.sidebar a {
    color: #6A5649;
}

.sidebar p {
    color: #FFFFFF;
    padding-left: 15px;
    padding-bottom: 15px;
}

body {
    margin: 80px auto;
    width: 60%;
    font-family: Verdana, Geneva, sans-serif;
}

.container {
    background-color: #FBF2EC;
    padding: 40px;
}

.container p {
    font-size: 20px;
    line-height: 1.4em;
    color: #585858;
}

nav ul {
    font-family: Verdana, Geneva, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    opacity: 0.6;
}
