body {
    font-family: 'Roboto', sans-serif;
    background-color: #fdfdfd;
}

/* container */
div#main {
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15%;
}

div#main h2 {
    color: #654e66;
    font-weight: 600;
}

div#main p {
    font-size: 15px;
    line-height: 1.4em;
    color: #696969;
}

div#project-container div.card {
    margin: 10px;
}

div#project-container div.card .card-title {
    color: #654e66;
}

div#project-container div.card a.btn {
    background-color: #654e66;
    color:white;
}

div#project-container div.card a.btn:hover {
    background-color: #967397;
}

/* navigation bar */
nav {
    background-color: #6d5467;
    padding-left: 30px;
}

nav.navbar-brand {
    font-weight: 400;
}

nav ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* footer */
div#footer {
    margin: auto;
    width: 100%;
}

div#footer footer {
    /* position: absolute; */
    bottom: 0;
    text-align: center;
    padding-bottom: 2%;
}

footer small {
    color: #9a869b;
}